[mysqld]
## 设置server_id，同一局域网中需要唯一
server_id=101
## 指定不需要同步的数据库名称
binlog-ignore-db=mysql
## 开启二进制日志功能
log-bin=mall-mysql-bin
## 设置二进制日志使用内存大小（事务）
binlog_cache_size=1M
## 设置使用的二进制日志格式（mixed,statement,row）
## binlog_format=mixed
## 二进制日志过期清理时间1天
binlog_expire_logs_seconds=86400
## 跳过主从复制中遇到的所有错误或指定类型的错误，避免slave端复制中断。
## 如：1062错误是指一些主键重复，1032错误是因为主从数据库数据不一致
replica_skip_errors=1062
## 文件系统不区分大小写
lower_case_table_names=2
bind-address = 0.0.0.0
## 启动mysql_native_password插件
mysql_native_password=ON
max_connections = 5000
